@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  margin: 1rem;
}

.button-input {
    display: block;
    margin: 2rem auto;
    color: #fff;
    background: #00BFFF;
    border: 1px solid #333;
    font-size: 1.5rem;
    border-radius: 14px;
    padding: 1rem 4rem 1rem;
    text-align: center;
  }