@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

.contents-container {
  margin: 1rem auto;
  width: 92%;
  padding: 1rem;
  max-width: 1200px;
}

.contents-container-sub {
  display: flex; /* Flexboxを使用して子要素を水平に配置 */
}

.image {
  width: 520px;
  height: 200px;
}

.product-info {
  flex: 1; /* 残りのスペースを取るように設定 */
  margin-left: 6rem;
}

.item {
  font-size: 1.7rem;
  background-color: #d9d9d9;
  width: 100%;
  margin-bottom: 10px;
}
