@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

/* カート一覧のタイトル */
h1 {
    text-align: center;
    margin: 1rem 0;
  }
  
  /* カートアイテムコンテナ */
  #app {
    padding: 1rem;
  }

  .title{
    text-align: center;
    position: relative;
    font-size: 50px;
    top: 22px;
  }

  .totalprice{
    font-size: 28px;
    position: relative;
    left: 11%;
  }

  .mainitem{
    display: flex;
    margin-top: 50px;
    position: relative;
    left: 10%;
  }

  .flex1{
    flex: 1;
    width: 70%;
    margin-left: 60px;
  }
  
  .productarea{
    display: flex;
    width: 120%;
  }

  .flex2{
    position: relative;
    width: 100%;
  }

  .textarea{
    margin-top: 40px;
    width: 35%;
    height: 40%;
    background: #D9D9D9;
    position: relative;
    left: 35%;
  }

  .incrementarea{
    display: flex;
    position: relative;
    left: 27px;
    margin-top: 9px;
    border-radius: 70px;
    background: #D9D9D9;
    width: 333px;
    height: 67px;
  }

  .minus{
    background-color: #007bff;
    color: #ffffff;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem 0;
    margin-left: 25px;
    text-align: center;
    padding: 10px;
    width: 100px;
  }

  .productnum{
    width: 10%;
    text-align: center;
    padding-top: 22px;
    margin-left: 25px;
  }

  .productcontent{
    margin-left: 10%;
  }

  .productname{
    font-size: 45px;
    margin-top: 34px;
  }

  .productprice{
    font-size: 40px;
    margin-top: 25px;
  }

  .plus{
    width: 100px;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
  }

  .image{
    width: 100%;
    border: solid 1px #000;
  }

  .delete{
    position: relative;
    left: 75%;
    width: 135%;
    border-radius: 50px;
    z-index: 50;
  }

  .buttonarea{
    display: flex;
  }

  /* ナビゲーションボタン */
  input[type="submit"], button {
    background-color: #007bff; /* ボタンの背景色 */
    color: #ffffff; /* テキストの色 */
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 5px; /* 角丸のサイズ */
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem 0;
  }
  
  /* ナビゲーションボタンのホバー効果 */
  input[type="submit"]:hover, button:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
  }

  .pagerinkarea{
    display: flex;
  }

  .changereturn{
    border-radius: 14px;
    background: #D9D9D9;
    width: 20%;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    position: relative;
    left: 15%;
    margin-left: 5%;
  }

  .productlink{
    color: black;
    font-size: 25px;
    text-decoration: auto;
    position: relative;
    top: 5px;
  }

  .changeorder{
    border-radius: 14px;
    background-color: #3395ff;
    width: 20%;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    position: relative;
    left: 60%;
    margin-left: -25%;
  }

  .orderlink{
    color: white;
    font-size: 25px;
    text-decoration: auto;
    position: relative;
    top: 5px;
  }

  .changereturn2{
    border-radius: 14px;
    background: #D9D9D9;
    width: 20%;
    height: 50px;
    margin-top: 20px;
    position: relative;
    left: 34%;
    margin-left: 5%;
    text-align: center;
  }
