@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

label{
  display: inline-block;
  text-align: right;
  width: 100px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #00BFFF;
    padding: 0 20px;
    box-sizing: border-box;
    height: 100px;
  }
  
  .menu {
    display: flex;
  }
  
  .menu .menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    flex-grow: 1;    
  }
  
  .menu a {
    margin-left: 20px;
    color: #000000;
    text-decoration: none;
  }
  
  a.btn_06 {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 140px;
    height: 25px; 
    padding: 1rem 4rem;
    font-weight: bold;
    font-size: 14px;
    border-radius: 27px;
    border-bottom: 5px solid #ff8308;
    background: #FFD770;
    color: #fff;
  }
  
  a.btn_06:hover {
    margin-top: 3px;
    border-bottom: 1px solid #ff8308;
    color: #fff;
  }
  
  .img {
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 30%;
    max-height: 100%;
  }  

  .button-input{
    display: block;
    margin: 2.6rem auto;
    color: #fff;
    background: #00BFFF;
    border: 1px solid #333;
    font-size: 1.5rem;
    border-radius: 14px;
    padding: 0.2rem 0.8rem 0.2rem;
    text-align: center;
    border: none;
  }