@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
} 

/* お届け先のテキストボックスとラベル */
#saki, #saki + label {
  width: 800px;
  text-align: left; /* 左揃え */
}

#saki {
  height: 80px;
  background: #D9D9D9;
  border: none; 
  border-radius: 12px; 
  margin-bottom: 20px; 
}

/* 支払い方法のテキストボックスとラベル */
#houhou, #houhou + label {
  width: 800px;
  text-align: left; /* 左揃え */
}

#houhou {
  height: 80px;
  background: #D9D9D9;
  border: none; 
  border-radius: 12px; 
  margin-bottom: 20px; 
}

/* お届け日のテキストボックスとラベル */
#hi, #hi + label {
  width: 800px;
  text-align: left; /* 左揃え */
}

#hi {
  height: 80px;
  background: #D9D9D9;
  border: none; 
  border-radius: 12px; 
  margin-bottom: 20px; 
}

/* ボタンコンテナ */
.button-container {
  display: flex;
  justify-content: space-between; /* ボタン間の間隔を調整 */
}

/* 戻るボタン */
.button-container button:nth-child(1) {
  width: 228px;
  height: 75px;
  border: none; 
  border-radius: 12px;
  background: #D9D9D9;
  color: #fff; 
  margin-right: auto; 
  font-size: 2rem; /* 文字サイズを変更 */
}

/* 確定ボタン */
.button-container button:nth-child(2) {
  width: 228px;
  height: 75px;
  border: none; 
  border-radius: 12px;
  background: #00F;
  color: #fff; 
  margin-left: auto; 
  font-size: 2rem; /* 文字サイズを変更 */
}
