/* お届け先のテキストボックス */
#saki {
  width: 916px;
  height: 81px;
  background: #D9D9D9;
  border: none; 
  border-radius: 12px; 
  margin-bottom: 20px; 
}

.contents-container {
  margin: 1rem auto;
  width: 80%;
  padding: 1rem;
  max-width: 1200px;
}

.button-post {
  color: #fff;
  background: #00f;
  border: none;
  font-size: 1.5rem;
  border-radius: 14px;
  padding: 0.4rem 3rem 0.4rem;
  text-align: center;
  margin-left: auto; /* 左寄せ */
}

.button-back {
  color: #000;
  border: none;
  font-size: 1rem;
  border-radius: 14px;
  padding: 0.4rem 3rem 0.4rem;
  text-align: center;
  margin-right: auto; /* 右寄せ */
}

/* 支払い方法のテキストボックス */
#houhou {
  width: 916px;
  height: 81px;
  background: #D9D9D9;
  border: none; 
  border-radius: 12px; 
  margin-bottom: 20px; 
}

/* お届け日のテキストボックス */
#hi {
  width: 916px;
  height: 81px;
  background: #D9D9D9;
  border: none; 
  border-radius: 12px; 
  margin-bottom: 20px; 
}

/* 戻るボタン */
.button-container button:nth-child(1) {
  width: 228px;
  height: 75px;
  border: none; 
  border-radius: 12px;
  background: #D9D9D9;
  color: #fff; 
  margin-right: auto; 
}

/* 確定ボタン */
.button-container button:nth-child(2) {
  width: 228px;
  height: 75px;
  border: none; 
  border-radius: 12px;
  background: #00F;
  color: #fff; 
  margin-left: auto; 
}
