@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0.4rem;
}

.contents-container {
  margin: 1rem auto;
  width: 80%;
  padding: 1rem;
  max-width: 1200px;
}

.contents-container-sub {
  display: flex; /* Flexboxを使用して子要素を水平に配置 */
}

.required_item {
  text-align: right;
  color: red;
}

.required::after {
  content: " ＊";
  color: red;
}

.form-input {
  text-align: justify;
  text-justify: auto;
  display: block;
  width: 100%;
  padding: 0.8rem 0;
  border-width: 0.5px;
  background: #d9d9d9;
  border: none;
}

.button-post {
  color: #fff;
  background: #00f;
  border: none;
  font-size: 1.5rem;
  border-radius: 14px;
  padding: 0.4rem 3rem 0.4rem;
  text-align: center;
  margin-left: auto; /* 左寄せ */
}

.button-back {
  color: #000;
  border: none;
  font-size: 1rem;
  border-radius: 14px;
  padding: 0.4rem 3rem 0.4rem;
  text-align: center;
  margin-right: auto; /* 右寄せ */
}

.recommend {
  font-size: 1.4rem;
}

.reviewP {
  font-size: 1.4rem;
}

.recommend::after {
  content: " ＊";
  color: red;
}

.rating-stars {
  display: inline-block;
  direction: rtl; /* レイアウト方向を右から左に変更 */
}

.rating-stars input {
  display: none;
}

.rating-stars label {
  font-size: 3rem;
  color: #ccc;
  cursor: pointer;
}

.rating-stars label:before {
  content: "\2605"; /* Unicode character for a star */
}

.rating-stars input:checked ~ label {
  color: #ffcc00; /* Color for selected stars */
}

textarea {
  width: 100%;
  resize: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.image {
  width: 300px;
  height: 150px;
}

.name-price {
  display: block;
}

.name {
  font-size: 2rem;
}

.price {
  font-size: 2rem;
}