@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

#selectForm{
  display: flex;
  position: relative;
  left: 38%;
}

.centered-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; 
}
  
  .search_container {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    width: 550px;
    overflow: hidden;
    margin-bottom: 0; /* 余白を取り除く */
    text-align: center;
}

  .search_container input[type="text"]{
    border: none;
    height: 2.0em;
    text-align: center;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    background: #3879D9;
    color: #fff;
    position: absolute;
    width: 3.5em;
    height: 3.0em;
    right:0px;
    top: -3px;
    outline : none;
  }

.checkbox_parts::before {
  font-size: 125%;
}

.checkbox_input{
  width: 30px;
  height: 25px;
  vertical-align: bottom;
}

h2{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 30px;
    color: #0050c1;
}

.search_area {
    text-align: enter;
}

.search_area div {
    margin-bottom: 10px;
}

.item_container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 1.0rem;
    padding: 1.0rem;
    background: #efefef;
    width: calc(80% / 3);
    text-align: center;
}
/*絞り込み条件外のアイテム*/
.hide_item {
    display: none;
}


.re-button {
  width: 310px;
  height: 55px;
  padding: 10px 20px;
  display: block;
  color: #000;
  background: #D9D9D9;
  border: 1px solid #333;
  font-size: 1.1rem;
  border-radius: 14px;
  padding: 0.5rem 3rem 0.5rem;
  text-align: center;
  border: none;
  margin-right: 10%;
  margin-left: 5%;
}

.kensaku-button {
  width: 310px;
  height: 55px;
  padding: 10px 20px;
  color: #fff;
  background: #00BFFF;
  border: 1px solid #333;
  font-size: 1.5rem;
  border-radius: 14px;
  padding: 0.5rem 3rem 0.5rem;
  text-align: center;
  border: none;
}

.buttonarea{
  display: flex;
  margin-left: 22%;
  margin-top: 4%;
}