@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

/*商品用*/

/*商品画像*/
.product-image{
    width: 50vw; /* ビューポートの幅の50% */
    height: 50vh; /* ビューポートの高さの50% */
}

/*商品名(1)*/
.product-name-1{
    color: #000;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    top: -17rem;
    left: 37rem;
}

/*商品名(2)*/
.product-name-2{
    color: #000;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    top: -17rem;
    left: 37rem;
}

/*商品価格(1)*/
.product-price-1{
    color: #000;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    top: -17rem;
    left: 37rem;
}

/*商品価格(2)*/
.product-price-2{
    color: #000;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    top: -17rem;
    left: 37rem;
}

/*商品説明(1)*/
.product-data-1{    
    color: #000;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    top: 19rem;
    left: -35rem;
}

/*商品説明(2)*/
.product-data-2{
    color: #000;
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    top: 2rem;
    left: -35rem;
}

