@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

h1{
    text-align: center;
   
}
h2{
    text-align: center;
}
p{
    text-align: center;
}

.contents-container{
    margin: 4rem auto;
    width: 30%;
    padding: 1rem;
    max-width: 800px;
}



.form-input{
    text-align: justify;
    text-justify: auto;
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 0.8rem 0;
    border-width: 0.5px;
}

.button-input{
    display: block;
	margin: 2rem auto;
    color: #FFF;
    background: #F00;
    border: 1px solid #333;
    font-size: 1.2rem;
    border-radius: 14px;
    padding: 0.4rem 0.4rem;
    text-align: center;
}



